
<div class="container">

	<div class="form-signin">
		<h2 class="form-signin-heading">You are Authorized!</h2>
		<br/>
		<div class="well"><b>Username:</b> {{user.username}}</div>
		<br/>
		<a class="btn btn-lg btn-primary btn-block" href="/logout">Logout</a>
	</div>

</div>