
body {
  padding-top: 50px;
  padding-bottom: 40px;
  background-color: #bbb;
}

.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading
  margin-bottom: 10px;
}
